<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentTestSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnterInfo</servlet-name>
    <servlet-class>com.EnterInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterInfo</servlet-name>
    <url-pattern>/EnterInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>com.Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Optioncourse</servlet-name>
    <servlet-class>com.Optioncourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Optioncourse</servlet-name>
    <url-pattern>/Optioncourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>